.titulo{
    text-align: center;
    color:oldlace;
    text-shadow: 2px 4px 3px rgb(3, 58, 238);
    font-size: 40px;
    font-family: fantasy;
    /*font-family: 'Orbitron', sans-serif;*/
    }
.fondo{
    
    background-image: url("lateral.jpg");
}


a:hover {
    background: rgba(255,255,255,0.2);
}
header nav {
    float: right;
    line-height: 70px;
}
header {
    width: 100%;
    overflow: hidden;
    background: #252932;
    margin-bottom: 10px;
}
wrapper {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
header nav a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 10px;
    line-height: normal;
    font-size: 13.5px;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
#autor{
    display: block;
    font-size: 2em;
    font-family: "Times New Roman";
    text-align: center;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;

}
.contenido {
    color:black;
    font-style: initial;
    font-size: 15px;
    border-width: thick;
    border-radius: 20px;
    border-style: solid;
    border-color: #808080;
    padding: 15px;
    max-width: 800px;
    text-align: justify;
    margin: auto;
    display: block;
    overflow: hidden;
    background-image: url("txtf.jpg")
}
.img_autor{
    float: left;
height: 250px;
margin-right: 20px;
margin-bottom: 15px;
max-width: 600px;
border-width: 1px;
border-style: solid;
border-color: black;
}