.fondo1{
    background-image: url("carta1.jpg")
}
.texto {
    color:white;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    border-width: thick;
    border-radius: 20px;
    border-style: solid;
    border-color: #808080;
    padding: 15px;
    max-width: 800px;
    text-align: justify;
    margin: auto;
    display: block;
    overflow: hidden;
    background-color: #07050098;;
}
.cabeza{
    background:  #685a39;
    margin-bottom: 20px;
    margin-left: 260px;
    border-width: thin;
    border-radius: 20px;
    border-style: solid;
    border-color:saddlebrown; 
    /*margin: auto;*/
    display: block;
    overflow: hidden;
    padding: 15px;
    max-width: 800px;
    text-align: center;
}
.cuento1{
float:left;
height: 250px;
margin-right: 20px;
margin-bottom: 15px;
max-width: 600px;
border-width: 1px;
border-style: solid;
border-color: black;
}
header nav {
    float: right;
    line-height: 70px;
}
header {
    width: 100%;
    overflow: hidden;
    background: #252932;
    margin-bottom: 10px;
}
wrapper {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
header nav a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 10px;
    line-height: normal;
    font-size: 13.5px;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
a:hover {
    background: rgba(255,255,255,0.2);
}