.fondo{
    background-image: url("tabla2.jpg")
}
dt{
    color: rgb(233, 103, 10);
    font-weight: bold;
    
}
.texto {
    color:white;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    border-width: thick;
    border-radius: 20px;
    border-style: solid;
    border-color: #808080;
    padding: 15px;
    max-width: 800px;
    text-align: justify;
    margin: auto;
    display: block;
    overflow: hidden;
    background-color:rgba(107, 66, 13, 0.178);
}
header nav {
    float: right;
    line-height: 70px;
}
header {
    width: 100%;
    overflow: hidden;
    background: #252932;
    margin-bottom: 10px;
}
wrapper {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
header nav a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 10px;
    line-height: normal;
    font-size: 13.5px;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
a:hover {
    background: rgba(255,255,255,0.2);
}